In [12]:
import pandas as pd
import numpy as np
import io
import pandas_profiling
import matplotlib.pyplot as plt

# Baca dataset uncleaned_raw.csv
uncleaned_raw = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/uncleaned_raw.csv')

In [2]:
#inspeksi dataframe uncleaned_raw
print('Lima data teratas:') 
print(uncleaned_raw.head())

Lima data teratas:
   InvoiceNo                          Description  Quantity     InvoiceDate  \
0     536365   WHITE HANGING HEART T-LIGHT HOLDER       6.0  12/01/10 08.26
1     536366                  WHITE METAL LANTERN       6.0  12/01/10 08.26
2     536367       CREAM CUPID HEARTS COAT HANGER       8.0  12/01/10 08.26
3     536368  KNITTED UNION FLAG HOT WATER BOTTLE       6.0  12/01/10 08.26
4     536369       RED WOOLLY HOTTIE WHITE HEART.       6.0  12/01/10 08.26

   UnitPrice  CustomerID      City
0      29000       17850  Surabaya
1      41000       17850  Surabaya
2      18000       17850  Surabaya
3      38000       17850   Jakarta
4      27000       17850     Medan

In [3]:
#Check kolom yang mengandung missing value
print('\nKolom dengan missing value:') 
print(uncleaned_raw.isnull().any())

Kolom dengan missing value:
InvoiceNo      False
Description    False
Quantity        True
InvoiceDate    False
UnitPrice      False
CustomerID     False
City           False
dtype: bool

In [6]:
#Persentase missing value
length_qty = len(uncleaned_raw['Quantity'])
count_qty = uncleaned_raw['Quantity'].count()

#mengurangi length dengan count
number_of_missing_values_qty = length_qty - count_qty

#mengubah ke bentuk float
float_of_missing_values_qty = float(number_of_missing_values_qty / length_qty) 

#mengubah ke dalam bentuk persen
pct_of_missing_values_qty = '{0:.1f}%'.format(float_of_missing_values_qty*100) 

#print hasil percent dari missing value
print('Persentase missing value kolom Quantity:', pct_of_missing_values_qty)

Persentase missing value kolom Quantity: 4.0%

In [8]:
#Mengisi missing value tersebut dengan mean dari kolom tersebut
uncleaned_raw['Quantity'] = uncleaned_raw['Quantity'].fillna(uncleaned_raw['Quantity'].mean())

In [44]:
import pandas as pd
import numpy as np
import io
import pandas_profiling
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

uncleaned_raw = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/uncleaned_raw.csv')
uncleaned_raw['Quantity'] = uncleaned_raw['Quantity'].fillna(uncleaned_raw['Quantity'].mean())

#Mengetahui kolom yang memiliki outliers!
uncleaned_raw.boxplot()
plt.show()

#Gambar akan dilampirkan dalam folder

In [82]:
#Check IQR
Q1 = uncleaned_raw['UnitPrice'].quantile(0.25)
Q3 = uncleaned_raw['UnitPrice'].quantile(0.75)
IQR = Q3 - Q1

#removing outliers
uncleaned_raw = uncleaned_raw[~((uncleaned_raw[['UnitPrice']] < (Q1 - 1.5 * IQR)) | (uncleaned_raw[['UnitPrice']] > (Q3 + 1.5 * IQR)))]

#check for duplication
print(uncleaned_raw.duplicated(subset=None))

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
16     False
20     False
21     False
23     False
24     False
27     False
35     False
43     False
44     False
48     False
53     False
55     False
65     False
70     False
79     False
86     False
403    False
dtype: bool

In [57]:
#remove duplication
print(uncleaned_raw.drop_duplicates())

     InvoiceNo Description  Quantity InvoiceDate  UnitPrice  CustomerID City
0          NaN         NaN       NaN         NaN    29000.0         NaN  NaN
1          NaN         NaN       NaN         NaN    41000.0         NaN  NaN
2          NaN         NaN       NaN         NaN    18000.0         NaN  NaN
3          NaN         NaN       NaN         NaN    38000.0         NaN  NaN
4          NaN         NaN       NaN         NaN    27000.0         NaN  NaN
5          NaN         NaN       NaN         NaN    24000.0         NaN  NaN
6          NaN         NaN       NaN         NaN    26000.0         NaN  NaN
7          NaN         NaN       NaN         NaN    44000.0         NaN  NaN
8          NaN         NaN       NaN         NaN    28000.0         NaN  NaN
9          NaN         NaN       NaN         NaN    17000.0         NaN  NaN
10         NaN         NaN       NaN         NaN    30000.0         NaN  NaN
11         NaN         NaN       NaN         NaN    33000.0         NaN  NaN
12         NaN         NaN       NaN         NaN    40000.0         NaN  NaN
13         NaN         NaN       NaN         NaN    16000.0         NaN  NaN
14         NaN         NaN       NaN         NaN    42000.0         NaN  NaN
16         NaN         NaN       NaN         NaN    25000.0         NaN  NaN
20         NaN         NaN       NaN         NaN    32000.0         NaN  NaN
21         NaN         NaN       NaN         NaN    22000.0         NaN  NaN
23         NaN         NaN       NaN         NaN    19000.0         NaN  NaN
24         NaN         NaN       NaN         NaN    35000.0         NaN  NaN
27         NaN         NaN       NaN         NaN    45000.0         NaN  NaN
35         NaN         NaN       NaN         NaN    21000.0         NaN  NaN
43         NaN         NaN       NaN         NaN    37000.0         NaN  NaN
44         NaN         NaN       NaN         NaN    23000.0         NaN  NaN
48         NaN         NaN       NaN         NaN    43000.0         NaN  NaN
53         NaN         NaN       NaN         NaN    34000.0         NaN  NaN
55         NaN         NaN       NaN         NaN    36000.0         NaN  NaN
65         NaN         NaN       NaN         NaN    15000.0         NaN  NaN
70         NaN         NaN       NaN         NaN    31000.0         NaN  NaN
79         NaN         NaN       NaN         NaN    39000.0         NaN  NaN
86         NaN         NaN       NaN         NaN    20000.0         NaN  NaN
403        NaN         NaN       NaN         NaN        NaN         NaN  NaN